@import "../../index.scss";

.home-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../../assets/catalyst-pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-logo-anchor {
    display: block;
    text-align: center;
}

.text-logo {
    width: 70%;
}

.text-grad {
    padding-left: 1.5rem;
}

.text-july {
    padding-right: 1.5rem;
}

.mouse-tooltip {
    background: #000;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

@media (min-width: 1040px) {
    .home-wrapper {
        // background-size: 90%;
    }
}
