$card-img-size: 250px;

.students-banner {
    background: url("../../assets/CatalystImg3-min.png");
    background-size: cover;
    background-position: center;
}

.projects-banner {
    background: url("../../assets/CatalystImg2-min.png");
    background-size: cover;
    background-position: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.card {
    border: none;
}

.card-image-div {
    height: 320px;
}

.card-img-top {
    height: 320px;
    margin: auto;
    object-fit: cover;
}

.card-name {
    text-transform: uppercase;
    a {
        color: #000;
        text-decoration: none;
    }
}

.loader-page {
    grid-column-start: 2;
}

@media screen and (min-width: 481px) {
    .card-image-div {
        height: $card-img-size;
    }
    .card-img-top {
        margin: auto;
    }
    .card-grid {
        grid-template-columns: repeat(auto-fill, minmax($card-img-size, 1fr));
    }
}

@media screen and (min-width: 768px) {
    .students-banner {
        background-position: 0 40%;
    }

    .projects-banner {
        background-position: 0 40%;
    }
}
