.students-banner{
    background: url("../../assets/CatalystImg3-min.png");
    background-size: cover;
    background-position: center;
}

.projects-banner{
    background: url("../../assets/CatalystImg2-min.png");
    background-size: cover;
    background-position: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.card-grid-card {
    border: 1px solid black;
}

.card-img-top {
    max-height: 350px;
    margin: auto;
    object-fit: contain;
}

.card-name {
    text-transform: uppercase;
    a {
        color: #000;
        text-decoration: none;
    }
}

@media screen and (min-width:768px) {
    .heading-banner{
        padding: 8rem 2rem;
    }
    .students-banner{
        background-position: 0 40%;
    }

    .projects-banner{
        background-position: 0 40%;
    }
}


