@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Open+Sans:wght@400;700&display=swap");
$btn-color: #482255;

html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #161616;
    color: #f3f3f3;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.single-heading {
    font-family: "Girassol", cursive;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #f3f3f3;
}

.heading-banner {
    padding: 4rem 1rem 2rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// global buttons
.btn-outline-main {
    color: $btn-color;
    border-color: $btn-color;
    &:hover {
        color: #fff;
        background: $btn-color;
    }
}

// media queries
// tablet
@media screen and (min-width: 768px) {
    .heading-banner {
        padding: 6rem 2rem 5rem;
    }

    .single-heading {
        font-size: 3.2rem;
    }
}

// xl desktop
@media screen and (min-width: 1500px) {
    .heading-banner {
        padding: 8rem 2rem 7rem;
    }
}
