footer{
    background: #ccc;
}
.footer-grid {
    display: grid;
}
.footer-grid-section {
    padding: 2rem;
    list-style: none;
}

@media (min-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
    .footer-grid-section:nth-child(3) {
        grid-column: span 2;
    }
}
