nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.8rem;
    a {
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.navbar-alt a {
    color: #161616;
    &:hover {
        color: #161616;
    }
}

.logo {
    font-size: 1rem;
    font-weight: bold;
}

.nav-list {
    background: transparent;
    position: relative;
    a {
        margin: 1rem;
    }
}

.expanded {
    transform: scaleY(1);
}

@media screen and (min-width: 1px) {
    .nav-bars {
        display: none;
    }
    .nav-list {
        transform: scale(1);
        background: transparent;
        position: relative;
    }
}
