.student-banner {
    padding: 6rem 1rem 2rem;
    text-align: center;
}

.student-wrapper {
    color: #000;
    background: #fff;
}

.single-heading {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #161616;
}

.heading-course {
    color: #161616;
    margin-bottom: 0;
}

.student-container {
    width: 100%;
    margin: 0 auto;
}

// swiper
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.student-project-img {
    width: 70%;
}

.student-project-title {
    padding: 1rem 0;
    font-weight: 400;
    font-size: 1rem;
}

.student-blurb {
    font-size: 0.8rem;
    white-space: pre-wrap;
    padding: 2rem;
}

.student-subheading {
    padding: 0 0 0.5rem;
    letter-spacing: 0.2rem;
    color: #f3f3f3;
    text-transform: uppercase;
}

.student-details {
    background: #161616;
}

.student-details-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}

.student-image-div {
    height: 224px;
    width: 224px;
    border: 2px solid #fff;
    border-radius: 50%;
    align-self: center;
}

.student-image {
    height: 220px;
    width: 100%;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
}

.student-skills {
    list-style: none;
    color: #f3f3f3;
    a {
        color: #f3f3f3;
    }
}

.contact-anchor {
    text-decoration: underline;
    text-decoration-color: #fff;
}

@media screen and (min-width: 768px) {
    .student-container {
        width: 70%;
        max-width: 900px;
    }

    .student-grid {
        grid-template-columns: 1fr 1fr;
    }
    .student-details-row {
        flex-direction: row;
        padding: 2rem 0;
    }

    .student-image-div {
        align-self: flex-start;
    }
}
