.student-banner {
    background: url("../../assets/catalystimg5-min.png");
    background-size: cover;
    background-position: center;
}

.project-banner {
    background: url("../../assets/CatalystImg4-min.png");
    background-size: cover;
    background-position: center;
}

.heading-course {
    color: #fff;
    margin-bottom: 0;
}

.student-container {
    width: 100%;
    margin: 0 auto;
}

.student-grid {
    display: grid;
    grid-gap: 2rem 1rem;
}

.student-image-div {
    display: flex;
    justify-content: center;
    background: rgba($color: #aaa, $alpha: 0.4);
    max-height: 400px;
}

.student-image {
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.student-blurb {
    padding: 0 1rem;
}

.student-subheading {
    padding: 0.5rem 1rem;
    letter-spacing: 0.2rem;
}

.contact-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-anchor {
    display: block;
    margin: 0 1rem;
}

.contact-icon {
    font-size: 3rem;
    transition: opacity 350ms ease-in-out;
}

.github-icon {
    color: #212121;
    opacity: 0.85;
}

.linked-icon {
    color: #2867b2;
    opacity: 0.85;
}

.behance-icon {
    color: #053eff;
    opacity: 0.85;
}

.insta-icon {
    color: #212121;
    opacity: 0.85;
}

.user-icon {
    color: #aaa;
    opacity: 0.85;
}

.mail-icon {
    color: #efc000;
    opacity: 0.85;
}

.contact-icon:hover {
    opacity: 1;
}

.student-skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.student-skill {
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 5rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
}

@media screen and (min-width: 768px) {
    .student-banner {
        background-position: 0 40%;
    }

    .project-banner {
        background-position: 0 40%;
    }
    .student-container {
        width: 70%;
        max-width: 900px;
    }

    .student-grid {
        grid-template-columns: 1fr 1fr;
    }

    .student-blurb {
        padding: 1rem 0 0 1rem;
    }
}
